* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebf2ff;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}
.navbar_brand {
    width: 100px;
}
.navbar_logo{
    width: 100%; 
}
.nav_item {
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  background-color: #fff;
  border: none;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}
.nav_item:hover{
     border: 2px solid rgb(170, 130, 238);
}
@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
}
@media (min-width:1020px) {
    .navbar_brand{
        width: 150px;
    }
    .nav-item{
        padding: 20px;
        font-size: 20px;
    }
}