* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ebf2ff;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}
.navbar_brand {
    width: 100px;
}
.navbar_logo{
    width: 100%; 
    height: 100%;
}
.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.nav_item {
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  background-color: #fff;
  border: none;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}
.nav_item:hover{
     border: 2px solid rgb(170, 130, 238);
     
}

.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
  background-color: #fff;
  border: none;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
.hero_image_container{
    width: 100%;
}
.hero_image{
    
    width: 100%;
    border-radius: 8px;
     box-shadow: 0 25px 50px -12px rgba(0, 0.25, 0.25, 0.50);
    
     z-index: 2;
}


.hero_container {
    margin-top: 10px;
    
    
}
.hero_text {
    font-size: 30px;
    margin-top: 20px;

}
.food_card_image_container {
    width: 100%;
}
.food_image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.food_card {
    background-color: #fff;
    border-radius: 8px;
}
.food_card_desc {
    padding: 15px;
    border-radius: 0 0 8px 8px;
    margin-bottom: 15px;
}
.explore_menu_lists{
    margin-top: 40px;
    font-size: 17px;
    text-align: center;

}
.explore_menu_text{
    font-size: 30px;
    text-align: center;
}
.explore_menu_container{
    margin-top: 25px;
    margin-bottom: 25px;
}
/* flexx */
.restaurant_text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
.restaurant_images_container {
    width: 100%;
    margin-bottom: 15px;
    
}
.restaurant_images_row_one,
.restaurant_images_row_two{
    width: 100%;
    display: flex;
    gap: 3px;
}
.restaurant_image_1,
.restaurant_image_4 {
    width: 100%;
    height: 130px;
    
}
.restaurant_image_2,
.restaurant_image_3 {
    width: 120%;
    height: 150px;
    
}
.restaurant_images_row_one {
     align-items: baseline;
     margin-bottom: 3px;
}

.restaurant_1,
.restaurant_2,
.restaurant_3,
.restaurant_4 {
    width: 100%;
    height: 100%;
}
/* update */
.update_text {
    font-size: 30px;
}
.update_setup {
    display: flex;
    margin: 15px;

}
.submit_email {
    padding: 5px;
    margin-right: 8px;
    border-color: #f68b75;
    background-color: #fcb89d75;
    border-radius: 5px;
    
}
.update_button {
    padding: 7px;
    color: #fff;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
    border-radius: 5px;
    border: none;
}
.update_text {
    text-align: center;
}
/* footer */

.footer_container {
    max-width: 200%;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
}
.footer_item {
    list-style-type: none;
    text-align: center;
    margin: 2px;
    color: #fff;
   
    margin-bottom: 10p;
}
.ab {
    margin-bottom: 2px;
}
@media (min-width:768px){  
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero_container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .explore_menu_lists{
        display: flex;
        gap: 15px;
        padding: 30px;
    }
    .explore_menu_text {
        margin-top: 60px;
    }
    #pizza_card {
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .explore_menu_view_more {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .explore_menu_container {
        position: relative;
        margin-top: 60px;
        
    }
    .explore_menu_gradient_bg {
        position: absolute;
        top: 0;
        left: 0;  

        width: 100%;
        height: 100%;
        
        margin-top: 27px;
        z-index: -2;
        transform: skewY(-7deg);
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
    }
    .restaurant_container {
        display: flex;
        align-items: center;
        margin-top: 100px;
    }
    .restaurant_text{
        width: 100%;
       font-size: 30px; 
    }
    .update_container {
        margin-top: 40px;
    }
    .update_setup {
        display: flex;
        justify-content: center;
    }
    .footer_body {
        display: flex;
        justify-content: center;
        
    }
    .footer_image {
        width: 100%;
    }
    .footer_items {
    
        width: 100%;
        
    }
    .footer_items {
        margin-top: 58px;
    }
}
@media (min-width:1020px) {   
    .navbar_brand{
        width: 150px;
    }
    .button_primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero_description {
        width: 100%;
    }
    .container {
        max-width: 900px;
    }
    .hero_image {
        margin-top: 25px;
    }
    .hero_text {
        font-size: 50px;
        
        margin-top: 120px;
        align-items: center;
    }
    .explore_menu_lists{
        display: flex;
        gap: 15px;
    }
    .explore_menu_text {
        font-size: 50px;
    }
    .explore_menu_container {
        margin-top: 120px;
    }
    .explore_menu_container {
        position: relative;
        
    }
    .explore_menu_gradient_bg {
        position: absolute;
        top: 0;
        left: 0;  

        width: 100%;
        height: 100%;
        
        z-index: -2;
        transform: skewY(-7deg);
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
    } 
    .restaurant_image_1,
    .restaurant_image_4 {
        width: 100%;
        height: 200px;
        
    }
    .restaurant_image_2,
    .restaurant_image_3 {
        width: 120%;
        height: 250px;
        
    } 
    .restaurant_text {
        font-size: 50px;
    }
    .restaurant_container {
        margin-top: 150px;
    }
    .update_text {
        font-size: 60px;
    }
    .submit_email {
        width: 400px;
        height: 40px;
        margin-left: 70px;
        margin-top: 10px;
    }
    .update_button {
        width: 100px;
        height: 60px;
    }
    .update_setup {
        margin-top: 20px;
    }
    
@media (min-width :1400px) {
    .container {
        max-width: 1250px;

    }
}